* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:monospace;
}

.container {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h3 {
    padding:10px;
    font-weight: bold;
    color:rgb(63, 61, 87);
}

.container h3 {
    background-color: #da885b;
    color:#fff;
    border-radius: 3px;
    padding:3px 30px;
    margin-bottom: 30px;
}

.btn-wrap {
    width:60%;
    position: relative;
    height: 10px;
}

.btn-wrap button {
    position: absolute;
    right:0;
}

header {
    height: 10vh;
    background-color: rgba(221, 221, 221, 0.356);
    box-shadow: 0 3px 19px 0 rgb(0 0 0 / 10%);
}




.table {
    width:60%;
    height:200px;
    overflow: scroll;
}
table{
    width:60%;
    margin:0 auto;
    overflow:hidden;
    border:1px solid #ccc;

}




table tbody{
    float:left;
    width:127%;
    height:200px;
    overflow-y:auto;
    overflow-x:hidden;

}
table tbody tr{
    display:table;
    width:100%;
    border-bottom:1px solid #ccc;

}


footer {
    position: absolute;
    width:100%;
    height: 10vh;
    bottom: 0;
    background-color: rgb(39, 39, 54);
    color:#fff;
}

@media(height:350px), (width:500px) {
    header {
        padding:20px;
    }
    header h3 {
        padding: 0 !important;
    }
    
    .container h3 {
        margin-bottom:0 !important;
        font-size: 12px !important;
        margin-top:20px;
    }
    .btn-wrap button {
        font-size: 1px !important;
        background-color: #ddd !important;
       padding: 0 !important;
        border:none !important;
        color:#000;
    }

    table td {
        text-align:right;
    }

    table tbody{
        float:left;
        width:127%;
        height:100px;
    
    }
    footer {
        height:17vh;
    }
}